/* Primary heading */
.container {
	background-color: rgba(255, 255, 255, 0.1);
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

h1, 
h2, 
h3, 
h4 {
	color: #A8C060;
	font-family: 'Russo One', sans-serif;
}

h1 {
	width: 370px;
	padding: 10px 0 0 10px;
	margin: 10px 0 0 10px;
	font-size: 2.5em;
}

h2, 
h3 {
	padding: 0 10px 0 10px;
	margin: 0 10px 0 10px;	
}

h3 {
	margin: 5px 5px 5px 5px;	
}

body {
	background: url("../img/footer_lodyas.png");
}

p, 
em {
	font-family: 'Play', sans-serif;
	margin: 5px 0 5px 0;
	color: #111;
}

img {
	width: 300px;
	margin: 20px;
}

a:link,
a:visited {
	color: #A8C060;
	text-decoration: none;
	margin: 0 5px 0 5px;
	transition: .25s;
}

a:hover, 
a:active {
	text-decoration: line-through;
	color: #8A8A8A;
}

li {
	list-style: none;
	float: left;
	font-family: 'Play';
	color: #111;
}

article {
	padding: 0 30px;
}

/* Set Your Own Margin & Padding */

/* Layout for Style Tile*/
section {
	margin: 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 2px solid #555;
	float: left;
	margin: 0 10px;
	height: 100px;
	width: 100px;
	border-radius: 10px;
}

.color-1 {
	background: #A8C060;
}

.color-2 {
	background: #111;
}

.color-3 {
	background: #8A8A8A;
}

.pattern-1 {
	background: url("../img/bg.png");
}

.pattern-2 {
	background: url("../img/hexellence.png");
}

.pattern-3 {
	background: url("../img/footer_lodyas.png");
}




























































/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}